.links {
    display: flex;
    flex-direction: column; /* Układ pionowy */
    align-items: center; /* Wycentrowanie linków */
    margin-top: 20px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%; /* Szerokość linka na 100% szerokości kontenera */
    max-width: 300px; /* Maksymalna szerokość linka */
    height: 60px; /* Stała wysokość prostokąta */
    margin: 10px 0; /* Odstęp między linkami */
    border-radius: 10px; /* Zaokrąglone rogi */
    transition: background-color 0.3s;
    text-decoration: none; /* Usunięcie podkreślenia */
}

.link.instagram {
    background: linear-gradient(45deg, #F58529, #F77737, #D62976, #E1306C); /* Gradient Instagram */
}

.link.youtube {
    background-color: #FF0000; /* Czerwony kolor tła YouTube */
}

.link:hover {
    filter: brightness(90%); /* Efekt przyciemnienia po najechaniu */
}

.link i {
    font-size: 24px; /* Rozmiar ikony */
}
