* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica', sans-serif; /* Użycie czcionki Helvetica dla całej strony */
    background-color: #000; /* czarne tło */
    color: #fff; /* biały tekst */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center; /* wyśrodkowanie tekstu */
    background-color: #1a1a1a; /* ciemnoszare tło kontenera */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    width: 90%;
    max-width: 400px;
}

h1 {
    margin-bottom: 10px;
    font-size: 2.5em; /* zwiększenie rozmiaru czcionki */
    color: #ffffff; /* Biały kolor tytułu */
}

.profile-image {
    width: 150px; /* Zwiększenie szerokości obrazka */
    height: auto; /* Automatyczna wysokość, aby zachować proporcje */
    border-radius: 0; /* Usunięcie zaokrąglenia */
    margin: 15px 0; /* Marginesy wokół obrazka */
}

.links {
    display: flex; /* użycie flexboxa do wyświetlania w poziomie */
    justify-content: center; /* centrowanie linków */
    margin-top: 20px;
}

.link {
    display: flex; /* umożliwia wyśrodkowanie ikony */
    align-items: center; /* centrowanie pionowe */
    justify-content: center; /* centrowanie poziome */
    color: white;
    width: 60px; /* szerokość kwadratu */
    height: 60px; /* wysokość kwadratu */
    margin: 0 10px; /* odstęp między kwadratami */
    border-radius: 10px; /* zaokrąglone rogi */
    transition: background-color 0.3s;
    text-decoration: none; /* usunięcie podkreślenia */
}

/* Kolory tła dla linków */
.link.spotify {
    background-color: #1DB954; /* Kolor tła Spotify */
}

.link.instagram {
    background: linear-gradient(45deg, #F58529, #F77737, #D62976, #E1306C); /* Gradient Instagram */
}

.link.youtube {
    background-color: #FF0000; /* Czerwony kolor tła YouTube */
}

.link:hover {
    filter: brightness(90%); /* Efekt przyciemnienia po najechaniu */
}

.link i {
    font-size: 24px; /* rozmiar ikony */
}
